h1 {
    font-family: "oe-gothic-pixel"
}

p {
    font-family: "regular-pixel"
}

#background {
    background-color: #ff4b4b;
}

#navbar {
    background-color: #141619;
    color: #ff4b4b;
    width: 100%;
}

.row {
    height: 100%;
    width: 100%;
}

#article-drawer {
    padding: 2rem;
}

#article-graphic {
    padding-right: 2rem;
}

#article-title {
    font-size: 2rem;
    font-weight: bold;
}