#article-graphic {
    padding-right: 2rem;
}

#article-title h1 {
    font-family: "oe-gothic-pixel";
    font-size: 6vh;
}

#article-subtitle {
    font-family: "regular-pixel";
    font-size: 3vh;
}

#article {
    background-color: #141619;
    color: #ff4b4b;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 100%;
}
