#article-graphic {
    color: #ff4b4b;
    font-size: 5rem;
    align-items: center;
    padding-right: 1rem;
}

#article-title h1 {
    font-family: "oe-gothic-pixel";
    font-size: 2rem;
}

#article-subtitle {
    font-family: "regular-pixel";
    font-size: 1rem;
}

#article {
    background-color: #141619;
    color: #ff4b4b;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}
