/* primary colors
#790400
#332F35
#AE9F9F
#CC966F */


#background {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #790400;
}

#card {
    border: 1px solid black;
    background: #790400;
    box-shadow: inset 20px 20px 60px #670300,
        inset -20px -20px 60px #8b0500;
    color: #000;
    background-color: #790400;
    border-radius: 50px;
    overflow: hidden;
    height: 40vh;
    font-size: 2rem;
    text-align: center;
    ;
}


button {
    background: none;
    border: 1px solid;
    color: #000;
}

#card-button {
    height: 50%;
    width: 25%;
    margin: 1rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #810400, #6d0400);
    box-shadow: 20px 20px 60px #670300,
        -20px -20px 60px #8b0500;
}

#card-body {
    padding-top: 1rem;
}

#card h1,
p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

#card-heading {
    font-size: 5rem;
    background-color: #000;
    color: #790400;
}