#background {
    width: 100vw;
    height: 100vh;
    background-color: #141619;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    margin: 1rem;
    padding: 2rem;
    width: 80vw;
    height: 50vh;
    background-color: #ff4b4b;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card-header h1 {
    font-size: 2em;
    font-family: 'oe-gothic-pixel';
    -webkit-font-smoothing : none;
}

#card-body {
    font-family: 'regular-pixel';
}

